@model MongoWebGallery.Models.AddImageViewModel

@{
    ViewData["Title"] = "Dodaj obraz";
}

<h2 class="text-center mb-4">Dodaj obraz</h2>

<div class="container">
    <form asp-action="AddImage" enctype="multipart/form-data" method="post" class="shadow-lg p-4 bg-light rounded mx-auto" style="max-width: 800px;">

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Nazwa</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Prompt" class="form-label">Opis</label>
            <textarea asp-for="Prompt" class="form-control" rows="4" maxlength="300"></textarea>
            <span asp-validation-for="Prompt" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <input asp-for="IsPublic" class="form-check-input" type="checkbox" />
            <label asp-for="IsPublic" class="form-check-label">Publiczny</label>
        </div>

        <div class="mb-3">
            <label asp-for="ImageFile" class="form-label">Plik obrazu</label>
            <input asp-for="ImageFile" type="file" class="form-control" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <div class="row g-3">
                <div class="col">
                    <label for="SelectedTag1" class="form-label">Tag 1:</label>
                    <select asp-for="SelectedTag1" class="form-select">
                        <option value="">Wybierz tag</option>
                        @foreach (var tag in ViewBag.Tags)
                        {
                                <option value="@tag.Id">@tag.Name</option>
                        }
                    </select>
                    <span asp-validation-for="SelectedTag1" class="text-danger"></span>
                </div>

                <div class="col">
                    <label for="SelectedTag2" class="form-label">Tag 2:</label>
                    <select asp-for="SelectedTag2" class="form-select">
                        <option value="">Wybierz tag</option>
                        @foreach (var tag in ViewBag.Tags)
                        {
                                <option value="@tag.Id">@tag.Name</option>
                        }
                    </select>
                </div>

                <div class="col">
                    <label for="SelectedTag3" class="form-label">Tag 3:</label>
                    <select asp-for="SelectedTag3" class="form-select">
                        <option value="">Wybierz tag</option>
                        @foreach (var tag in ViewBag.Tags)
                        {
                                <option value="@tag.Id">@tag.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="SelectedCategoryId" class="form-label">Kategoria:</label>
            <select asp-for="SelectedCategoryId" class="form-select">
                @foreach (var category in ViewBag.Categories)
                {
                        <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label for="SelectedTechnologyId" class="form-label">Technologia:</label>
            <select asp-for="SelectedTechnologyId" class="form-select" id="SelectedTechnologyId" onchange="toggleNewTechnologyFields()">
                <option value="">Wybierz technologię</option>
                @foreach (var technology in ViewBag.Technologies)
                {
                        <option value="@technology.Id">@technology.Name</option>
                }
            </select>
        </div>

        <div class="form-group" id="newTechnologyFields" style="display:none;">
            <label for="newTechnology" class="form-label">Nazwa nowej technologii</label>
            <input type="text" class="form-control" id="newTechnology" asp-for="NewTechnology" placeholder="Wpisz nazwę nowej technologii" />
            <span asp-validation-for="NewTechnology" class="text-danger"></span>
        </div>

        <div class="form-group" id="newTechnologyUrlFields" style="display:none;">
            <label for="newTechnologyUrl" class="form-label">URL nowej technologii</label>
            <input type="url" class="form-control" id="newTechnologyUrl" asp-for="NewTechnologyUrl" placeholder="Wpisz URL nowej technologii" />
            <span asp-validation-for="NewTechnologyUrl" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary w-100">Zatwierdź</button>
                </div>
                <div class="col">
                    <a href="javascript:history.back()" class="btn btn-secondary w-100">Powrót</a>
                </div>
            </div>
        </div>

    </form>
</div>

@section Scripts {
        <script>
            function toggleNewTechnologyFields() {
                var selectedTechnologyId = document.getElementById("SelectedTechnologyId").value;
                var newTechnologyFields = document.getElementById("newTechnologyFields");
                var newTechnologyUrlFields = document.getElementById("newTechnologyUrlFields");

                if (!selectedTechnologyId) {
                    newTechnologyFields.style.display = "block";
                    newTechnologyUrlFields.style.display = "block";
                } else {
                    newTechnologyFields.style.display = "none";
                    newTechnologyUrlFields.style.display = "none";
                }
            }

            window.onload = function () {
                toggleNewTechnologyFields();
            };
        </script>
}
